#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Decktricks
Exec=bash -xc '$HOME/.local/share/decktricks/decktricks-gui'
Icon=steamdeck-gaming-return
Type=Application
StartupNotify=false
