#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Decktricks
Exec=bash -xc '$HOME/.local/share/decktricks'
Icon=steamdeck-gaming-return
Type=Application
StartupNotify=false
